<h1>Concerts</h1>

<table>
	<tr>
		<td>
			concert 1
		</td>
		<td>
			concert 2
		</td>
	</tr>
	<tr>
		<td>
			concert 3
		</td>
		<td>
			concert 4
		</td>
	</tr>	

	<p> Ceci est ma première variable : <%= @variable %>.</p>
</table>
